{% extends 'base.html' %}

{% block title %}
Edit Teacher
{% endblock %}

{% block content %}

<div class="card shadow p-4">

    <h2>Edit Teacher</h2>

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label>Name</label>

            <input
                type="text"
                name="name"
                value="{{ teacher.name }}"
                class="form-control"
                required>
        </div>

        <div class="mb-3">
            <label>Department</label>

            <input
                type="text"
                name="department"
                value="{{ teacher.department }}"
                class="form-control"
                required>
        </div>

        <div class="mb-3">
            <label>Email</label>

            <input
                type="email"
                name="email"
                value="{{ teacher.email }}"
                class="form-control"
                required>
        </div>

        <button
            type="submit"
            class="btn btn-success">

            Update Teacher

        </button>

    </form>

</div>

{% endblock %}
